# Gradle
.gradle/
build/
*/build/
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
captures/

# OS
.DS_Store

# Keystores
*.jks
*.keystore

# Release keystore (decoded from app/keystore/my-release-key.jks.base64 by CI)
app/keystore/my-release-key.jks
